input[type=text], input[type=password] {
  width: 90%;
  padding: 12px;
  display: inline-block;
  border: 2px solid Black;
  background:#B3B6B7;
  font-size: 18px;
  font-family: "Times New Roman";
}
input[type=date]{
  width: 50%;
  padding: 12px;
  display: inline-block;
  border: 2px solid Black;
  background:#B3B6B7;
  font-size: 18px;
  font-family: "Times New Roman";
}
input[type=radio], input[type=checkbox]{
  border: 2px solid Black;
}
textarea{
  width: 90%;
  padding: 12px;
  display: inline-block;
  border: 2px solid Black;
  background:#B3B6B7;
  font-size: 18px;
  font-family: "Times New Roman";
}
select{
  width: 50%;
  padding: 12px;
  display: inline-block;
  border: 2px solid Black;
  background:#B3B6B7;
  font-size: 18px;
  font-family: "Times New Roman";
}
input[type=submit], [type=reset]{
  background-color:white; 
  border: 2px solid orange;
  color: orange;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Times New Roman";
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}
button{
  background-color:white; 
  border: 2px solid orange;
  color: orange;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: "Times New Roman";
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}